.advantages {
	&__title {
		text-align: center;
		@include advantages-title;
		margin-bottom: 60px;
	}
	&__cards {
		display: flex;
		flex-wrap: wrap;
		column-gap: 30px;
		row-gap: 30px;
		justify-content: center;
		padding: 0 20px;
	}
	&__card {
		width: 444px;
		transition: 0.4s;
		padding: 50px 40px 102px;
		border: 1px solid transparent;
		@media (max-width: $vp-f-small) {
			padding: 20px 20px 50px;
		}
		&-top {
			display: flex;
			align-items: center;
			text-align: center;
			margin-bottom: 30px;
		}
		&-image {
			padding: 8px;
			background: $primary-color;
			margin-right: 36px;
		}
		&-title {
			@include card-title;
			text-align: left;
			@media (max-width: $vp-m-mobile) {
				font-size: 18px;
			}
		}
		&-text {
			@include card-text;
			@media (max-width: $vp-m-mobile) {
				font-size: 18px;
			}
		}
	}
	&__card:hover {
		box-shadow: 0px 25px 45px 0px $card-shadow;
		border: 1px solid $primary-color;
		transition: 0.4s;
	}
}
