@use 'variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

@mixin text-body($font-size, $font-weight, $color) {
	font-size: $font-size;
	font-weight: $font-weight;
	color: $color;
	font-family: Roboto, sans-serif;
}

@mixin text-body-link {
	@include text-body(25px, 500, variables.$title-color);
}
@mixin section-title {
	@include text-body(38px, 700, variables.$title-color);
}
@mixin card-text {
	@include text-body(18px, 400, variables.$card-text);
}
@mixin room-card-text {
	@include text-body(18px, 400, variables.$title-color);
}
@mixin room-card-name {
	@include text-body(18px, 500, variables.$title-color);
}
@mixin button-text {
	@include text-body(16px, 500, variables.$white-color);
}
