@use 'fonts.scss';

.header {
	position: fixed;
	top: 0;
	@extend %container;
	background: $white-color;
	&__nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 31px 20px 44px;
	}
	&__menu {
		&-link {
			@include fonts.text-body-link;
			transition: 0.3s;
			&:hover {
				color: $primary-color;
			}
		}
	}
}
