@use 'variables.scss';
@use 'fonts.scss';

%container {
	max-width: 1500px;
	width: 100%;
}
@mixin room-info {
	border: 4px solid variables.$primary-color;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	width: 326px;
	padding: 31px 47px;
	align-items: center;
	text-align: center;
}
@mixin cost {
	@include fonts.area;
	border: 4px solid variables.$primary-color;
	border-radius: 10px;
	width: 326px;
	padding: 19px 46px;
	align-items: center;
	text-align: center;
}

@mixin slider-button {
	border: none;
	background: transparent;
}
