@use 'variables.scss';
@use 'fonts.scss';
%container {
	max-width: 1500px;
	width: 100%;
}

@mixin buttons {
	color: variables.$white-color;
	background: variables.$primary-color;
	@include fonts.button-text;
	text-decoration: none;
	padding: 15px 30px;
	border: 1px solid transparent;
	transition: 0.5s;
	border-radius: 5px;
	display: inline-block;
	&:hover {
		color: variables.$primary-color;
		border: 1px solid variables.$primary-color;
		background: transparent;
	}
	&::before {
		transition: 0.5s ease;
	}
}
@mixin description-area {
	background-color: rgba(variables.$descriprion-area, 0.4);
	display: flex;
	justify-content: space-between;
	padding: 20px 23px 10px;
	border-radius: 10px;
}
