@use 'fonts.scss';
@use 'variables.scss';

.restaraunt {
	padding: 0 20px;
	&__subtitle {
		@include fonts.section-title;
		text-align: center;
		margin-bottom: 60px;
	}
	&__inner {
		position: relative;
		overflow: hidden;
		&-image {
			width: 100%;
			object-fit: cover;
		}
		&-info {
			max-width: 488px;
			padding: 65px 85px;
			background-color: variables.$title-color;
			border-radius: 14px;
			position: absolute;
			bottom: 4px;
			left: 0;
			@media (max-width: 768px) {
				max-width: 242px;
				padding: 21px 28px;
			}
			@media (max-width: 425px) {
				max-width: 161px;
				padding: 8px 10px;
			}
			&-about {
				@include fonts.slider-info-text;
				color: variables.$white-color;
				margin-bottom: 24px;
				@media (max-width: 768px) {
					font-size: 14px;
				}
				@media (max-width: 425px) {
					font-size: 12px;
				}
			}
			&-time {
				display: flex;
				justify-content: space-between;
				align-items: center;
				max-width: 317px;
				@media (max-width: 768px) {
					max-width: 140px;
				}
				&-number {
					@include fonts.slider-time-number;
					color: variables.$white-color;
					@media (max-width: 768px) {
						font-size: 16px;
					}
				}
				&-icon {
					@media (max-width: 768px) {
						max-width: 28px;
						max-height: 28px;
					}
					@media (max-width: 425px) {
						max-width: 20px;
						max-height: 20px;
					}
				}
			}
		}
	}
}
