$primary-color: #1b75bb;
$title-color: #081f32;
$white-color: #fff;
$black-color: #000000;
$gray-color: #d9d9d9;
$card-shadow: rgba(197, 197, 197, 0.25);
$card-text: #757683;

// *! breakepoints
$vp-m-mobile: 366px;
$vp-f-small: 502px;
$vp-x-small: 576px;
$vp-small: 768px;
$vp-medium: 992px;
