$primary-color: #1b75bb;
$title-color: #081f32;
$white-color: #fff;
$black-color: #000000;
$gray-color: #d9d9d9;

// *! breakepoints
$vp-s-small: 425px;
$vp-x-small: 576px;
$vp-m-small: 600px;
$vp-small: 768px;
$vp-medium: 992px;
$vp-large: 1200px;
$vp-medium-large: 1406px;
$vp-extra-large: 1460px;
