$title-color: #081f32;
$primary-color: #1b75bb;
$white-color: #fff;
$black-color: #000000;
$gray-color: #d9d9d9;

// *! breakepoints
$vp-l-mobile: 425px;
$vp-m-small: 600px;
$vp-small: 768px;
$vp-m-medium: 840px;
$vp-x-medium: 940px;
$vp-medium: 992px;
$vp-large: 1200px;
$vp-extra-large: 1440px;
